.validation{
    color: red;
}

.body{
    font-family: sans-serif;
}

.rowWithPadding{
    margin-top: 20px;
}

.btnGetData{
    margin-left: 10px;
}

.calendar{
    padding-top: 2px;
}

.datelabel{
    padding-top: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

.btn-success, 
.btn-success:hover{
    border :none;
}

.col-sm-2.league{
    width: 12%;
}

.col-sm-2.team{
    width: 18%;
}

.col-sm-1.score, 
.col-md-1.datelabel{
    width: 5%;
}

.truncatetext{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}